.text-center {
  text-align: center;
}
.text-primary {
  color: var(--color-primary);
}


.text-accent {
  color: var(--color-accent);
}

.text-lite {
	color: var(--color-lite);
}

.text-mute {
	color: var(--color-mute);
}



.wght-400 {
	font-weight: 400;
}

.wght-500 {
	font-weight: 500;
}

.font-sans {
	font-family: var(--font-sans);
}


.font-display {
	font-family: var(--font-display);
	font-weight: 500;
}

.font-cursive {
	font-family: var(--font-cursive);
	font-weight: 400;
}





