<footer class="site-footer">
	<div class="container grid max-bp-lg">
		<div class="contact-company sm:col-6">
			<p><img class="logo-beach-realty" src="/static/img/logo-beach-realty.svg" width="110" height="114" /><span class="sr-only">Beach Realty South</span> </p>

			<p>
				120 Atlantic Avenue <br />
				Garden City, SC 29576 <br />
				843.651.5003
			</p>
		</div>
		<!-- /.contact-company -->

		<div class="copyright sm:col-6">
			<p><img class="logo-mls" src="/static/img/logo-mls.svg" width="182" height="59" alt="" /><span class="sr-only">Beach Realty is a proud member of Realtor&reg;, MLS&trade;, Equal Housing Opportunity</span></p>
			<p class="copyright-notice">
				<small>&copy; 2020 Bungalow Bay. All rights reserved.</small>
			</p>
		</div>
		<!-- /.copy-notice -->
	</div>
	<!-- /.container -->
</footer>