<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tucked away, on a quiet cul-de-sac in the heart of Garden City Beach, SC, are the quaint cottages of Bungalow Bay. Just minutes from the ocean, these raised 3-bedroom, 2-bathroom single-family homes elicit the relaxed calm of life at the beach with easy access to all the attractions the Grand Strand area has to offer.">
  <title>{{ title or renderData.title or metadata.title }}</title>
  
  <meta property="og:image" content="https://bungalowbaycottages.com/static/img/opengraph.jpg" />


  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&amp;family=Red+Hat+Text:wght@400;700&amp;display=swap" rel="stylesheet">
  
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{ '/css/main.css' | url }}">


  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
