<section class="section-cta">
	<div class="container grid-auto-lg max-bp-lg">

		{% for service in collections.services %}

			<div class="card card-body text-center flow-y">

				<h3 class="text-{{ service.data.class }}">{{ service.data.title }}</h3>
<img src="{{ service.data.icon }}" />
				{{ service.templateContent | safe }}
				

				<a class="link-block btn btn-{{ service.data.class }}" href="{{ service.data.cta_link }}">Download</a>
			</div>

		{% endfor %}
	</div>

	<img class="bk-img" src="../static/img/bk-ocean.jpg" alt="" />
</section>