<section class="section-cta">
	<div class="container grid-auto-lg max-bp-lg">

		{% for service in collections.services %}

			<div class="card card-body text-center flow-y">

				<div class="flow-y"><h3 class="text-{{ service.data.class }}">{{ service.data.title }}</h3>
				{% if service.data.icon %}
				<img src="{{ service.data.icon }}" width="60" height="60" class="mx-auto" alt="Icon of {{ service.data.title }}" />
				{% endif %}
				{{ service.templateContent | safe }}</div>
				<!-- /.flow-y -->
				
				{% if service.data.cta_text %}
								<a target="_blank" rel="noreferrer" class="link-block btn btn-{{ service.data.class }}" href="{{ service.data.cta_link }}">Download</a>
				{% else %}
				<span class="sr-only">Lots available for sale: 1, 8, 9, 12, 13, 14, 19,21</span>
				{% jpgImage "static/img/lots.png", "Bungalow Bay property lots"%}
				
				{% endif %}



			</div>

		{% endfor %}
	</div>

{% jpgImage "static/img/bk-ocean.jpg", "", "bk-img" %}
	
</section>