<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">

{% include "components/head.njk" %}


<body class="no-js">
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="DMxoGEgx"></script>


	<header class="site-header">

		<div class="container max-bp-lg">
			<a class="site-brand" href="{{ '/' | url }}"><img src="static/img/logo-bungalow-bay.svg" width="388" height="97" alt=""><span class="sr-only">{{ metadata.title }}</span></a>
		</div>
		<!-- /.container -->

		{# {% include "components/nav.njk" %} #}
	</header>

	<main>
		{{ layoutContent | safe }}

	</main>

	{% include "components/footer.njk" %}
<script>

document.body.className = document.body.className.replace( 'no-js' , 'js' );
</script>
  {% set js2 %}
    {% include "assets/js/offcanvas.js" %}
		{% include "assets/js/script.js" %}
  {% endset %}
  <script>{{ js2 | jsmin | safe }}</script>




	</body>

</html>