---
layout: layouts/base.njk
section: home
---
<section class="hero">
<div class="hero-header container max-bp-lg">
<h1 class="hero-title">
<span class="hero-title-lead">Finally…</span>
<span class="hero-title-sub">Beach Living <br />You Can Afford</span>
</h1>
</div>
<!-- /.hero-header -->



	{% jpgImage "static/img/hero-img.jpg", "Family at the beach", "hero-img" %}

</section>
<!-- /.hero -->






<button class="fr-offcanvas-open js-fr-offcanvas-open btn-info" aria-controls="offcanvas-1">
	{% include "assets/svg/icon-info.svg" %} Request Info
</button>





<section class="section-intro flow-md-y">

<div class="container max-bp-md text-center">
	<h2>Bungalow Bay Beckons&hellip;</h2>
</div>
<!-- /.container -->
<div class="container max-bp-lg grid">
<div class="sm:col-5">

<p>Tucked away, on a quiet cul-de-sac in the heart of Garden City Beach, SC, are the quaint cottages of Bungalow Bay. Just minutes from the ocean, these raised 3-bedroom, 2-bathroom single-family homes elicit the relaxed calm of life at the beach with easy access to all the attractions the Grand Strand area has to offer. </p>
</div>

<div class="sm:col-1">

</div>
<!-- /.col-6 -->
<div class="sm:col-6">
<figure class="poster embed embed-wide">


	{% jpgImage "static/img/poster-video.jpg", "Street view of Bungalow Bay Homes", "poster-img" %}

<div class="poster-summary flow-xs-y">
<p class="h3">Starting at <sup>$</sup>315,000 </p>
<p>Minutes from the Beach</p>
</div>
<!-- /.poster-summary -->
</figure>
<!-- /.poster -->
</div>
<!-- /.col-6 -->
</div>
<!-- /.container -->
</section>
<!-- /.intro -->

{% include "components/services.njk" %}

<section class="announcement">
<div class="container grid max-bp-lg">

<div class="sm:col-6 flow-y">
		<h2 class="text-center h1 font-cursive wght-400 text-accent">Now Available!</h2>


		<p>Ground was recently broken to start construction on five of the 28 single-family homes of Bungalow Bay Cottages. All of the cottages are being constructed by CLK Builders, known in the Grand Strand area for quality craftsmanship and integrity since 1997. Beach Realty South is the marketing arm of this partnership with a long and strong history of real estate sales on the Grand Strand’s south end.</p>
		<p>You’ve waited long enough. Now is the time to get in on this amazing opportunity for beach living you can afford. Contact us today!</p>

	</div>
	<!-- /.sm:col-6 -->

	<div class="sm:col-6">
	{% jpgImage "static/img/bb-sign.jpg", "Bungalow Bay outdoor sign"%}
	
	</div>
	<!-- /.sm:col-6 -->
</div>
<!-- /.container -->
</section>
<!-- /.announcement -->

<section class="contact">
<div class="container max-bp-lg flow-y">

<div class="grid">
<div class="sm:col-6 lg:col-4 flow-y">
<h2>Stay in Touch</h2>
<h3 class="h4">
Bungalow Bay Cottages are presented by Beach Realty South
</h3>

<p>
<strong>Kevin DeRenzo, Realtor/Owner</strong> <br />
843.458.2669 <br />
<a href="mailto:kevin@scbeachrealty.com">kevin@scbeachrealty.com</a>
</p>
<p>
<strong>Justin Nash, Realtor</strong> <br />
843.543.5794 <br />
<a href="mailto:justin@scbeachrealty.com">justin@scbeachrealty.com</a>
</p>

<ul class="list-social">
<li class="social-item"><a class="social-link" href="https://www.facebook.com/Beach-Realty-98445329219" target="_blank">{% include "assets/svg/icon-facebook.svg" %} Facebook</a></li>
{# <li class="social-item"><a class="social-link" href="https://www.facebook.com/Beach-Realty-98445329219" target="_blank">{% include "assets/svg/icon-instagram.svg" %} Instagram</a></li> #}
</ul>
</div>
<!-- /.flow-y -->



<div class="sm:col-6 lg:col-6 lg:col-start-7 text-center">

	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="DMxoGEgx"></script>

	<div class="fb-page" data-href="https://www.facebook.com/Beach-Realty-98445329219" data-tabs="timeline" data-width="520" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Beach-Realty-98445329219" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Beach-Realty-98445329219" rel="noopener noreferrer">Beach Realty</a></blockquote></div>




</div>
<!-- /.sm:col-6 -->
</div>
<!-- /.grid-auto-lg -->
</div>
</section>
<!-- /.contact -->

<section class="panel-offcanvas js-fr-offcanvas" id="offcanvas-1">
  
<form name="signup" class="form-stack flow-y" method="POST" netlify-honeypot="classy-field" data-netlify="true">
 <h2>Request Info</h2>

 <input type="hidden" name="subject" value="Bungalow Bay Website Submission" />
     
        <p class="form-control">
            <label for="name">Name (required)</label>
            <input type="text" name="name" id="name" value="" autocorrect="off" autocomplete="name" required />
        </p>
        <p class="form-control">
            <label for="email">Email (required)</label>
            <input type="email" name="email" id="email" autocapitalize="none" autocorrect="off" autocomplete="email" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required />
        </p>

				 <p class="form-control">
            <label for="phone">Phone </label>
            <input type="text" name="phone" id="phone" value="" autocorrect="off" autocomplete="phone" />
        </p>

        <p class="form-control">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="10"></textarea>
        </p>

				<p class="classy" aria-hidden="true"><label>Feeling lucky? <input name="classy-field" /></label></p>
   
            <button class="btn btn-secondary" type="submit" name="submit">Submit</button>    
        
  
</form>

	<button aria-label="Close Panel" class="btn-close fr-offcanvas-close js-fr-offcanvas-close">{% include "assets/svg/icon-close.svg" %}</button>
</section>


		{# {{ layoutContent | safe }} #}



