---
layout: layouts/base.njk
section: home
---
<div class="hero">
<div class="hero-header container max-bp-lg">
<h1 class="hero-title">
<span class="hero-title-lead">Finally…</span>
<span class="hero-title-sub">Beach Living <br />You Can Afford</span>
</h1>
</div>
<!-- /.hero-header -->

	<img class="hero-img" src="static/img/hero-img.jpg" width="1440" height="860" alt="" />
</div>
<!-- /.hero -->


		{{ layoutContent | safe }}



